<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/header :: AppHeader }"></head>

<body>

<nav th:replace="~{fragments/navbar :: AppNavbar}"></nav>

<main>
    <section class="d-flex justify-content-center mt-5">
        <div class="overflow-auto" style="max-height: 50vh;">
            <table class="table-sm rounded bg-black bg-gradient text-white" style="--bs-bg-opacity: .75;">
                <thead>
                <tr>
                    <th>Rodzaj Wydatku</th>
                    <th>Opis</th>
                    <th>Koszt</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="expense : ${expenses}">
                    <td th:text="${expense.type}"></td>
                    <td th:text="${expense.description}"></td>
                    <td th:text="${expense.price + ' zł.'}"></td>
                    <td th:text="${expense.date}"></td>
                    <td class="d-flex">
                        <form th:action="@{/api/expense-list/delete}" method="post">
                            <input type="hidden" name="id" th:value="${expense.id}"/>
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                        <a class="btn btn-primary"
                           th:href="@{/api/expense-list/update/{id} (id=${expense.id})}">Edytuj</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
</body>
</html>