<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses-app</title>
    <link rel="stylesheet" th:href="@{../css/styles.css}">
</head>
<body>
<div class="container">
    <div class="message" th:if="${param.error}">
        Nieprawidłowy E-mail lub hasło!
    </div>
    <div class="message" th:if="${param.logout}">
        Wylogowano!
    </div>

    <h2>Witaj w expenses-app!</h2>
    <form
            th:action="@{/login}"
            method="post"
    >


        <div class="form-group">
            <label for="username">Email:</label>
            <input type="email" id="username" name="username" placeholder="Enter your email" required>
        </div>

        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <input type="submit" value="Zaloguj się">
        <a th:href="@{/registration}">Zarejestruj się</a>
    </form>

</div>
</body>
</html>