<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/header :: AppHeader }"></head>

<body>
<div class="container rounded bg-black bg-gradient w-50 text-white" style="--bs-bg-opacity: .75;">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Nieprawidłowy E-mail lub hasło!
    </div>
    <div class="alert alert-success" role="alert" th:if="${param.logout}">
        Wylogowano!
    </div>

    <h2 class="text-center">Witaj w expenses-app!</h2>

    <form th:action="@{/login}" method="post">

        <div class="mb-3">
            <label class="form-label" for="username">Email:</label>
            <input class="form-control" type="email" id="username" name="username" placeholder="Podaj Email" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Hasło:</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Podaj hasło"
                   required>
        </div>

        <div class="mb-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mb-3">Zaloguj się</button>
        </div>

        <div class="mb-3 d-flex justify-content-center">
            <p>Nie masz konta? <a th:href="@{/registration}">Zarejestruj się</a></p>
        </div>


    </form>

</div>
</body>
</html>